/* =====GOOGLE FONTS==== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
/* =======GLOBAL======= */

*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


.section-p{
    padding: 60px 60px ;
    }
body{
    background-color: rgb(109, 46, 46);
}

a{
    text-decoration: none;
}


ul{
    list-style: none;
}

#unique{ 
    position: absolute;
    background-color: darkcyan;
    border: none;
    padding: 20px;
    color:aliceblue;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    border-radius: 40px;
    display: inline;
    top: 30px;
    margin-left: -40px;
    margin-top:-15px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.nav-bar{
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;
    justify-content: space-between;

}




.nav-bar >ul{
    display: inline-flex;
    margin-left: 20rem;
}

.nav-bar ul li a{
    display: block;
    padding: 10px 20px;
    margin: 0 5px;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 
    15px;
    transition: 0.4s ease;
    color:aliceblue;
    margin-top: 10px;
    margin: left 10px; 
}

.nav-bar ul li a{
    margin-right: 5px;
    color:aliceblue ;
    transition: 0.4s ease;
}

.nav-bar ul li a.active:hover{
    background-color:rgb(0, 15, 15) ;
    border-radius: 9px;
}

.nav-bar ul li a.active{
    background-color: darkcyan;
    border-radius: 10px;
    
}

.title {
    
    top: 20px;
    font-size: 30px;
}


.hero .con1{
    border: 1px solid rgb(70, 77, 58);
    width: 250px;
    height: 300px;
    background: rgb(124, 103, 145);
    border-radius: 10px;
    
}
.hero .con1:hover{
    box-shadow: 2px 2px rgb(106, 136, 146);
    
}

.hero .con1 img{
    width: 230px;
    height: 240px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 20px;
    object-fit: cover;
}

.hero .con1 p{
    color: rgb(6, 73, 73);
    font-size: 20px;
    text-align: center;
    padding: 10px;

}

.hero .con1 span{
    color: rgb(207, 178, 45);
}